body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: purple;
    color: white;
}

header {
    background-color: black;
    color: navy;
    padding: 20px;
    text-align: center;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: lightslategrey;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: yellow;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.profile {
    flex: 1;
    margin-right: 20px;
}

    .profile img {
        max-width: 100%;
        border-radius: 10px;
    }

.bio {
    flex: 2;
}

.interests {
    margin-top: 20px;
}

footer {
    background-color: black;
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
